extends base.pug

block style
    style
        include ../static/index.css

block content
    h1 puran chand is great

        a(href="hi")
            img(src="https://cdn.pixabay.com/photo/2020/06/06/14/26/sunflower-5266745__340.jpg",height="400",width="400" alt="")